.button-row{
    cursor:pointer;
    display: flex;  
    gap: 20px; 
    justify-content: center;
}
.button-row>img:hover{
    opacity: 0.5;
}
.game-block{
    display: flex;
}
.header{
    display: flex;
    justify-content: center;
    font-family: "Abel", monospace;
    font-size: 30px;
    background-color: #1A5F7A;
    color: white;
}