body{
    display: flex;
    flex-direction: column;  
    background-image: url("background.jpg");
}
.slider{
    border-radius: 50%;
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.grid-block{
    border: none;
    
}
.div-wrap{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.grid{
    display: grid;
    border: 10px solid #5f0f8d;
    
    width: 800px;
    height: 800px;
    justify-content: stretch;
    background-color: rgb(225, 224, 224);
 
  
}
.button-row{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 25px;

    
   
}
.title{
    text-align: center;
    margin-top: 3%;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
}

#clear-button{
    padding: 15px 30px;
    background-color: red;
    color: white;
    border: none;
    font-size: 23px;
    border-radius: 10px;
}
#clear-button:hover{
    opacity: 0.6 ;
}
.slidecontainer{
    display: flex;
    justify-content: center;
    gap: 35px;
   
}