body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    min-height: 100vh;
 
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #99A799;
    font-size: 27px;
  
 
}

.header_content{
    background-color: #F9F3DF;
    color: #f2ba66;
    padding: 40px;

}
.header_image > img{
    width: 550px;
    height: 370px;
    margin-top: 20px;
    border-radius: 10px;
    
}
.main-content{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 100px;
}


.content_text>h1{
    font-size:50px;
}
.content_text > h4{
    font-weight: 400;
    font-size: 20px;
    width: 50vh;
    color: #99A799;
}
ul {
    display: flex;
    list-style: none;
    gap: 30px;

}


.logo{
    font-size: 29px;
}
a {
    text-decoration: none;
    color: #5b6d5b;
    font-size: 19px;
}
button{
    color: white;
    background-color: #22577E;
    border-radius: 9px;
    border: 2px solid #ffffff;
    padding: 13px;
    padding-right: 28px;
    padding-left: 28px;
    font-size: 17px;
}
.item{
    display: flex;
    flex-direction: column;
}
.body_content{
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    padding: 40px;
}
.item > img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    min-width: 100%;
}

h2{
    text-align: center;
    padding: 20px;
    font-size: 37px;
    color: #a97c6f;
}

.quote_content{
    background-color: rgba(153, 167, 153, 0.5);
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    

    
}
.quote_content> h2{
    font-style:  italic;
    font-weight: lighter;
    font-size: 36px;
    width: 30em;
    margin-left: auto;
    margin-right: auto;
    color: white;

}
.quote_name{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    font-size: 18px;
    margin-right: 10%;
    color: white;


}
li{
    font-size: 13px;
}
.sign_up_content{
    background-color: #E2C2B9;
    margin: 90px;
    display: flex;
    justify-content: space-around;
    color: white;
    border-radius: 10px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.sign_up_button{
    display: flex;
    align-items: center;
}
.sign-up-main{
    display: flex;
    flex-direction: column;

}
.sign-up-main > h3{
    font-size: 28px;
    
}
.sign-up-main > h4{
    margin-top: -20px;
}
.footer{
    background-color: #F9F3DF;
    padding: 30px;
    color: #f2ba66;
    text-align: center;
}